{% load static %}
{% load permissions %}
{# Quick Actions Component - Reusable across home.html and app_switcher.html #}
{# Actions are hidden based on user permissions #}
<div class="row g-3">
    {% if wakalas %}
    {% with first_wakala=wakalas.0 %}
    {% can_record_transaction user first_wakala as can_record_txn %}
    {% if can_record_txn %}
    <div class="col-md-3 col-sm-6">
        <a href="{% url 'wakala:transaction_create' wakala_id=first_wakala.id %}" class="btn btn-outline-primary w-100 py-3">
            <i class="bi bi-plus-circle d-block fs-4"></i>
            New Transaction
        </a>
    </div>
    {% endif %}
    {% endwith %}
    {% endif %}
    
    {% if mchezo_groups %}
    {% with first_group=mchezo_groups.0 %}
    {% can_manage_members user first_group as can_manage %}
    {% if can_manage %}
    <div class="col-md-3 col-sm-6">
        <a href="{% url 'mchezo:add_member' group_id=first_group.id %}" class="btn btn-outline-success w-100 py-3">
            <i class="bi bi-person-plus d-block fs-4"></i>
            Add Member
        </a>
    </div>
    {% endif %}
    {% endwith %}
    {% endif %}
    
    <div class="col-md-3 col-sm-6">
        {% if user.is_staff %}
        <a href="{% url 'audit:reports' %}" class="btn btn-outline-warning w-100 py-3">
            <i class="bi bi-file-earmark-text d-block fs-4"></i>
            Generate Report
        </a>
        {% else %}
        <a href="{% url 'dashboard:app_switcher' %}" class="btn btn-outline-secondary w-100 py-3">
            <i class="bi bi-grid-3x3-gap d-block fs-4"></i>
            All Apps
        </a>
        {% endif %}
    </div>
    
    <div class="col-md-3 col-sm-6">
        <a href="{% url 'dashboard:settings' %}" class="btn btn-outline-info w-100 py-3">
            <i class="bi bi-gear d-block fs-4"></i>
            Settings
        </a>
    </div>
</div>
